# Tugas 1

In [32]:
import pandas as pd
import numpy as np
import math

In [33]:
dataset_url="https://raw.githubusercontent.com/isnaini-ina/datamining/main/Belgium.csv"
p=pd.read_csv(dataset_url, index_col=0)

In [34]:
p

            Country  Confirmed Cases  Deaths  New Cases  Country Population
Date
2022-09-01  Belgium          4482315   32516          0            11589623
2022-08-31  Belgium          4482315   32516          0            11589623
2022-08-30  Belgium          4482315   32516          0            11589623
2022-08-29  Belgium          4482315   32516       4545            11589623
2022-08-28  Belgium          4477770   32496          0            11589623
...             ...              ...     ...        ...                 ...
2020-01-26  Belgium                0       0          0            11589623
2020-01-25  Belgium                0       0          0            11589623
2020-01-24  Belgium                0       0          0            11589623
2020-01-23  Belgium                0       0          0            11589623
2020-01-22  Belgium                0       0          0            11589623

[954 rows x 5 columns]

In [35]:
def diss(x,y):
  a = 4
  b = 0
  for col in ["Country", "Confirmed Cases", "Deaths",	"New Cases",	"Country Population"]:
    if p[col][x] == p[col][y]:
      b += 1
    return (a-b)/a

In [36]:
print(diss(1,1))

0.75

In [37]:
p.describe()

       Confirmed Cases        Deaths      New Cases  Country Population
count     9.540000e+02    954.000000     954.000000               954.0
mean      1.472642e+06  20381.694969    4698.443396          11589623.0
std       1.505478e+06   9955.316835   10469.098419                 0.0
min       0.000000e+00      0.000000       0.000000          11589623.0
25%       9.645500e+04   9960.500000       0.000000          11589623.0
50%       1.025028e+06  24637.500000    1200.500000          11589623.0
75%       2.200172e+06  28441.750000    3613.000000          11589623.0
max       4.482315e+06  32516.000000  133480.000000          11589623.0

In [38]:
#normalisasi kb
std_kb = 1.505478e+06
mean_kb = 1.472642e+06
for col1 in ["Confirmed Cases"]:
  p1 = p[col1]
  hasil1 = (p1-mean_kb)/std_kb
  print(hasil1)

#normalisasi kt
std_kt = 9955.316835
mean_kt = 20381.694969
for col2 in ["Deaths"]:
  p2 = p[col2]
  hasil2 = (p2-mean_kt)/std_kt
  print(hasil2)

Date
2022-09-01    1.999148
2022-08-31    1.999148
2022-08-30    1.999148
2022-08-29    1.999148
2022-08-28    1.996129
                ...
2020-01-26   -0.978189
2020-01-25   -0.978189
2020-01-24   -0.978189
2020-01-23   -0.978189
2020-01-22   -0.978189
Name: Confirmed Cases, Length: 954, dtype: float64
Date
2022-09-01    1.218877
2022-08-31    1.218877
2022-08-30    1.218877
2022-08-29    1.218877
2022-08-28    1.216868
                ...
2020-01-26   -2.047318
2020-01-25   -2.047318
2020-01-24   -2.047318
2020-01-23   -2.047318
2020-01-22   -2.047318
Name: Deaths, Length: 954, dtype: float64

In [39]:
#menghitung jarak data numerik dengan cara euclidean
def num_p(a,b,c):
  result = 0
  for col in [hasil1, hasil2]:
    result = math.pow(abs(col[a] -col[b]), c)
  return result**(1/c)

In [40]:
print(num_p(1,2,2))
print(num_p(1,3,2))
print(num_p(1,4,2))

0.0
0.0
0.0020089767439330775

In [41]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).